<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <!-- 参考：https://tonari-it.com/gas-web-app-javascript/ -->
    <!-- 強制スクリプトレットタグで「css.html」と「js.html」を読み込む -->
    <!-- GASでは、.gsまたは.htmlしか生成することができない。サーバー側はgsファイル、クライアント側はhtmlファイルに記述 -->
    <!-- クライアント側からサーバー側の関数を呼び出すためのオブジェクト:google.script.run 
    これは非同期なので、
    google.script.run.withSuccessHandler(コールバック関数).関数(引数1, 引数2,…)でコールバック化
    失敗した場合withFailureHandlerを使う
    -->

    <!-- https://tonari-it.com/gas-url-doget-parameter/
    GAS URLにパラメータ情報をつける
    -->

    <!-- https://tonari-it.com/gas-web-appli-function-return/
    スクリプトの実行結果をページに出力する
    -->

    <!-- https://sites.google.com/site/appsmatome/home/ui/htmlservices
    GASを使い倒す。
    doGetから取得したパラメータをスプリクト化してHTMLに埋め込むなど。（図：スプレッドシートのデータを整形してダイアログとして表示させてみた）
    -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
  </head>
  <body>
    <!-- ここにbodyを記述していく -->
    <div id="splash"></div>
    <div id="app" style="display: none">
      <!-- <v-app v-show="!deviceready"> 読み込み中 </v-app> -->
      <v-app v-show="deviceready">
        <!-- <v-app> -->
        <!-- loading -->
        <v-container id="LoadingContainer" v-show="loadingObj.isLoading">
          <!-- <v-container id="LoadingContainer"> -->
          <v-row class="circular">
            <v-col>
              <v-progress-circular indeterminate />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div class="message" v-show="loadingObj.message">
                {{ loadingObj.message }}
              </div>
            </v-col>
          </v-row>
        </v-container>
        <!-- snackBar -->
        <v-snackbar v-model="isSnackbar" app top :timeout="snackbarObj.timeout"
          >{{ snackbarObj.message }}</v-snackbar
        >
        <!-- ナビゲーター -->

        <v-navigation-drawer
          app
          clipped
          fixed
          v-model="leftDrawer"
          :mini-variant="leftMiniVariant"
        >
          <v-list dense>
            <v-list-item class="px-2">
              <v-list-item-avatar>
                <v-img :src="userObj.iconUrl"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{userObj.name}}</v-list-item-title>
                <v-list-item-subtitle>Logged In</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-subheader>Menue</v-subheader>
            <v-list-item-group>
              <!-- v-model="selectedItem" color="primary" -->
              <v-list-item
                v-for="(item, i) in leftDrowerList"
                @click="item.isShow=!item.isShow"
                :key="item.id"
                :class="item.isShow ? '' :'semi-disable' "
              >
                <div style="display: none">
                  {{(item.id===4 && item.isShow)?snackFire({ message:
                  "作成予定..." }):null }} {{(item.id===5 &&
                  item.isShow)?snackFire({ message: "作成予定..." }):null }}
                </div>
                <!-- :to="item.goto" -->
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
        <!-- トップバー -->
        <v-app-bar app>
          <v-app-bar-nav-icon
            @click="leftDrawer=!leftDrawer"
          ></v-app-bar-nav-icon>
          <!-- <v-btn @click="leftDrawer=!leftDrawer">leftDrawer</v-btn>
          <v-btn @click="rightDrawer=!rightDrawer">rightDrawer</v-btn>
          <v-btn @click="leftMiniVariant=!leftMiniVariant"
            >leftMiniVariant</v-btn
          > -->
          <v-toolbar-title>おかねのやりとり</v-toolbar-title>
        </v-app-bar>

        <!-- メイン -->
        <v-main>
          <!-- <div v-show="isShowDisplayById(0)">全体のお知らせ</div> -->
          <!-- <div v-show="isShowDisplayById(1)">みんなのおかねのやりとり</div> -->
          <div v-show="isShowDisplayById(1)">
            <?!= HtmlService.createHtmlOutputFromFile('deal').getContent(); ?>
          </div>
          <div v-show="isShowDisplayById(4)">
            支払い登録ページです。(実装予定...)
          </div>
          <div v-show="isShowDisplayById(5)">
            おかねのやりとり履歴です。(実装予定...)
          </div>
          <!-- <?!= HtmlService.createHtmlOutputFromFile('subscribe').getContent(); ?> -->
          <!-- <div v-show="isShowDisplayById(2)">あなたのおかねのやりとり</div>
          <div v-show="isShowDisplayById(3)">支払いリスト</div>
          <div v-show="isShowDisplayById(4)">請求リスト</div>
          <div v-show="isShowDisplayById(5)">
            <?!= HtmlService.createHtmlOutputFromFile('subscribe').getContent(); ?>
          </div>
          <div v-show="isShowDisplayById(6)">設定</div>
          <div v-show="isShowDisplayById(7)" @click="test2">テスト</div>
          <div v-show="isShowDisplayById(8)">
            <?!= HtmlService.createHtmlOutputFromFile('test').getContent(); ?>
          </div>
          <router-view /> -->
        </v-main>

        <!-- フッター -->
        <v-footer fixed app
          ><span>&copy; 2021 Mannenbashi Park Land</span></v-footer
        >
      </v-app>
    </div>
    <!--<div id="app">バインドしているスプレッドシート名は {{ssName}} です。
    <button @click="changeMessage()">テキスト変更！</button>
    </div>
    -->

    <?!= HtmlService.createHtmlOutputFromFile('js').getContent(); ?>
  </body>
</html>
